asgiref==3.8.1
cfgv==3.4.0
crispy-bootstrap5==2024.10
distlib==0.3.9
Django==5.1.5
django-ckeditor==6.7.2
django-crispy-forms==2.3
django-debug-toolbar==5.0.1
django-htmx==1.21.0
django-js-asset==3.0.1
filelock==3.16.1
identify==2.6.5
nodeenv==1.9.1
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.0.1
psycopg2-binary==2.9.10
PyYAML==6.0.2
sqlparse==0.5.3
virtualenv==20.29.0
