<nav class="navbar navbar-expand-lg sticky-top bg-white" style="min-height: 6rem;">
	<div class="container">
		<a class="navbar-brand fs-5" href="{% url 'bloghome' %}">Simple Blog</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor04">
			<div class="container-fluid d-flex flex-wrap justify-content-center">
			</div>
			<ul class="navbar-nav me-auto h-100 align-items-center">
				<li class="nav-item">
					<a class="nav-link active" href="">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						{% if request.user.image %}
						{% else %}
						{% endif %}
					</a>
					<div class="dropdown-menu">
						{% if user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'logged_out' %}">Logout</a>
						{% else %}
						<a class="dropdown-item" href="{% url 'login' %}">Login</a>
						<a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
						{% endif %}
						<!-- <div class="dropdown-divider"></div>  -->
						<!-- <a class="dropdown-item" href="#">Separated link</a> -->
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
